table {
    width: 500px;
    margin-right: auto;
    margin-left: auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color: pink;
}
tr, td {
    border: 1px solid black;
    padding: 3px;
    vertical-align: top;
}
img {
    width: 100%;
}
td#image {
    width: 70%;
}
td#last {
    width: 30%;
}
th#caption {
    width: 70%;
}
td.35 {
    width: 35%;
}
body {
    background-image: url("../Images/music.gif")
}