body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
p.letter::first-letter {
    font-size: 200%;
}
p.logo {
    text-align: center;
}
tr.sitelinks {
    text-align: center;
}
div.center {
    text-align: center;
    font-size: 18px;
    background-color: lightgoldenrodyellow;
}
span.heading {
    font-size: 25px;
}
h2.category {
    font-size: 30px;
}
p#me {
    text-align: center;
}
img#me {
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}
h1#middle {
    text-align: center;
}
a#links {
    text-align: center;
    color: black;
}
a#links:hover {
    text-decoration: none;
}
div#contact {
    text-align: center;
    
}
tr#photoscenter {
    align-content: center;
}
.yellow {
    background-color: lightgoldenrodyellow;
}
p.center {
    text-align: center;
}
